<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Courses</title>
</head>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="/styleSheet/user/home.css" rel="stylesheet">


<body>
	<nav
		class="navbar navbar-dark bg-dark navbar-expand-lg navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-brand">
				Welcome <span th:text="${user.firstname}"> </span> <span
					th:text="${user.lastname}"> </span>
			</div>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

				<div class="d-flex">
					<a class="btn btn-outline-light me-2" th:href="@{/home}"><i class="fas fa-home"></i> Home
						</span>
					</a> <a class="btn btn-outline-light me-2" th:href="@{/logout}">Logout</a>
				</div>
			</div>
		</div>
	</nav>
	<!-- The sidebar -->
	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left"
		style="display: none" id="mySidebar">
		<button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close
			&times;</button>
		<div class="sidebar">
			<a th:href="@{/user/home}">Dashboard</a>
			<a th:href="@{/user/profile}">Profile</a> 
			<a th:href="@{/user/add-course}">Add Course</a> <a class="active"
				th:href="@{/user/show-course}">View Courses</a>
		</div>
	</div>

	<div id="main">
		<button id="openNav" class="w3-button w3-teal w3-xlarge"
			onclick="w3_open()">&#9776;</button>
		<div class="container">
			<div class="card">
				<div th:if="${session.message}" 
					th:classappend="${session.message.type}" class="alert" role="alert">
					<p class="text-center" th:text="${session.message.content}"></p>
					<th:block th:text="${#session.removeAttribute('message')}">
					</th:block>
				</div>
				<div class="card-header text-center bg-dark text-white">
					<h1>Courses</h1>
				</div>
				<div class="card-body">
					<table class="table table-bordered text-center">
						<thead class="thead bg-dark text-white">
							<tr>
								<th scope="col">Course Name</th>
								<th scope="col">Course ID</th>
								<th scope="col">Proficiency Level</th>
								<th scope="col">Duration</th>
								<th scope="col">Completion Date</th>
								<th scope="col">More info</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${courseList}">

								<th th:text="${c.courseName}"></th>
								<th th:text="${c.courseID}"></th>
								<th th:text="${c.courseProficiencyLevel}"></th>
								<th th:text="${c.courseDuration}"></th>
								<th th:text="${c.courseCompletionDate}"></th>
								<th><a th:href="@{'/user/more-info/' + ${c.idc}}" class="btn btn-dark btn-md" >
											<i class="fas fa-info-circle"></i></a></th>
								<th>
									<form th:action="@{'/user/update-course/' + ${c.idc}}"
										method="post">
										<button type="submit" class="btn btn-primary btn-md">
											<i class="fas fa-edit"></i></button>
									</form>
									<a th:onclick = "|deleteCourse(${c.idc})|" href="#" class="btn btn-danger btn-md" >
											<i class="fas fa-trash"></i> </a>
								</th>

							</tr>


						</tbody>
					</table>
				</div>
			</div>


		</div>
	</div>
	<script>
		function w3_open() {
			document.getElementById("main").style.marginLeft = "16.2%";
			document.getElementById("mySidebar").style.width = "16.2%";
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("openNav").style.display = 'none';
		}
		function w3_close() {
			document.getElementById("main").style.marginLeft = "0%";
			document.getElementById("mySidebar").style.display = "none";
			document.getElementById("openNav").style.display = "inline-block";
		}
		function deleteCourse(idc){
			swal({
				  title: "Are you sure?",
				  text: "Once deleted, you will not be able to recover this course!",
				  icon: "warning",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				    window.location="/user/delete-course/"+idc;
				    }
				  else {
				    swal("Your course is safe!");
				  }
				})
			
		}
	</script>
</body>

</html>